<div class="mat-elevation-z8">
  <div class="loading-shade" *ngIf="show">
    <img src="https://media.giphy.com/media/2UCCiILkXaLbDbrjll/giphy.gif" alt="gif">
  </div>

  <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        Name
      </th>
      <td mat-cell *matCellDef="let character"> {{character.name}} </td>
    </ng-container>


    <ng-container matColumnDef="eye_color">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Eye Color
      </th>
      <td mat-cell *matCellDef="let character"> {{character.eye_color}} </td>
    </ng-container>


    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Gender
      </th>
      <td mat-cell *matCellDef="let character"> {{character.gender}} </td>
    </ng-container>

    <ng-container matColumnDef="films">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Films
      </th>
      <td mat-cell *matCellDef="let character">
        <a> Films</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let character" [attr.colspan]="displayedColumns.length">
        <div class="element-detail" [@detailExpand]="character == expandedElement ? 'expanded' : 'collapsed'">

          <mat-list>
            <div mat-subheader>Films</div>
            <mat-list-item class="element-description" *ngFor="let film of character.filmsItem">
              <mat-icon mat-list-icon>movie_filter</mat-icon>
              <div (click)="showOpeningCrawlText(film)" mat-line>{{film.title}}</div>
            </mat-list-item>
          </mat-list>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row"
      [class.expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
</div>
